html {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

header {
  text-align: center;
}

h1 {
  padding: 15px 0px 10px 0px;
  font-size: 50px;
}

input[type='text'],
input[type='submit'],
input[type='number'],
label {
  font-size: 16px;
  font-family: 'EB Garamond', serif;
}

input[type='text'],
input[type='number'] {
  border-radius: 10px;
  border: solid thin rgb(172, 172, 172);
  text-align: center;
  padding: 2px 10px;
  margin: 5px 0px;
}

input[type='text']:hover,
input[type='number']:hover {
  background-color: rgb(110, 201, 253);
}

input:focus {
  outline: none;
}

input[type='checkbox'] {
  border: solid thin rgb(172, 172, 172);
  margin: 6px 0px;
}

input[type='submit'] {
  border-radius: 10px;
  border: solid thin rgb(172, 172, 172);
  text-align: center;
  padding: 2px 20px;
  margin: 8px 0px 15px 0px;
}

input[type='submit']:hover {
  background-color: rgb(110, 201, 253);
}

#table-div {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

table {
  border-collapse: collapse;
  font-size: 18px;
  width: 100%;
  outline: thin solid rgb(172, 172, 172);
}

td,
th {
  border-bottom: thin solid rgb(172, 172, 172);
  padding: 0.5rem;
  text-align: center;
  padding: 10px 25px;
}

#js-table tr:nth-child(odd) {
  background-color: rgb(255, 230, 230);
}

button {
  height: 30px;
  width: 75px;
  border: thin solid rgb(172, 172, 172);
  transition: font-size 0.2s, background-color 1s;
}

button:hover {
  border: thin solid rgb(138, 137, 137);
  background-color: rgb(110, 201, 253);
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  table td:nth-child(2),
  th:nth-child(2),
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
  }
}
